
    <div class="c-cv">
        <div class="o-wrap">
            <figure class="c-cv__item">
                <div class="o-photo">
                    <img srcset="<%=require("./img/cv/rafal.webp")%> 1x, 
                                 <%=require("./img/cv/rafal@2x.webp")%> 2x" 
                                 alt="" loading="lazy" width="670" height="670" 
                                 src=<%=require("./img/cv/rafal.webp")%> />
                </div>
                <figcaption class="o-article fade">
<h3>Rafał Jankowski</h3>

<p>Przedsiębiorca z ponad 25-letnim doświadczeniem w&nbsp;biznesie i&nbsp;założyciel Cafe Finance Group. Chcę podzielić się z&nbsp;Tobą moją pasją do zarządzania finansami przedsiębiorstw. Jako aktywny inwestor na rynkach kapitałowych - od FX po sztukę - wierzę, że zarabianie i&nbsp;pomnażanie pieniędzy to ważny element życia, ale jeszcze ważniejsze jest mądre zarządzanie już zdobytym majątkiem.</p>

<p>&nbsp;</p>

<p><span class="color--green">Dzielę się spojrzeniem na finanse i&nbsp;pomagam ludziom w budowaniu ich finansowej przyszłości.</span> Pracuję z klientami z&nbsp;całej Polski. Skontaktuj się ze mną, a&nbsp;razem stworzymy strategię dopasowaną do Twoich potrzeb.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h5>Rafał Jankowski</h5>
<p><em>Założyciel i współwłaściciel Cafe Finance Group</em></p>

<p>&nbsp;</p>

<p>rafal.j@cafe.finance</p>
<p>T: +48 695 996 613</p>
                </figcaption>
            </figure>
            
            <figure class="c-cv__item">
                <div class="o-photo">
                    <img srcset="<%=require("./img/cv/dorota.webp")%> 1x, 
                             <%=require("./img/cv/dorota@2x.webp")%> 2x" 
                             alt="" loading="lazy" width="670" height="670" 
                             src=<%=require("./img/cv/dorota.webp")%> />
                 </div>
                <figcaption class="o-article fade">
<h3>Dorota Kręcisz</h3>

<p>Dyrektor finansowy oraz partner zarządzający w Cafe Finance Group z 20+ latami doświadczenia w obszarze finansów
i księgowości. Specjalizuję się w analizie finansowej, controllingu oraz przeprowadzaniu audytów księgowych. Jednak zdaję sobie sprawę, że wiedza nie ma granic, dlatego zawsze gotowa jestem skorzystać z wsparcia mojego zespołu współpracowników, ekspertów w dziedzinach takich jak prawo, rewizja finansowa, doradztwo podatkowe czy zarządzanie majątkiem.</p>

<p>&nbsp;</p>

<p><span class="color--green">Wspólnie zespołem, oferujemy kompleksową obsługę finansową
dla różnorodnych form działalności gospodarczej.</span></p>

<p>&nbsp;</p>
<p>Zapraszam Cię do kontaktu i współpracy. Chcę w prostu sposób wytłumaczyć Tobie jak działa świat finansów.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h5>Dorota Kręcisz</h5>
<p><em>Dyrektor Finansowy (CFO) | Partner zarządzający CFG Obsługa finansowa i księgowa</em></p>

<p>&nbsp;</p>

<p>dorota.k@cafe.finance</p>
<p>T: +48 695 752 628</p>
                </figcaption>
            </figure>
        </div>
    </div>
