
    <div class="c-partners theme--black">
        <div class="o-wrap ">
            <h3>Współpracujemy z&nbsp;najlepszymi!</h3>
            
            <div class="c-partners__carousel">
                <div class="swiper js-partners">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img srcset="<%=require("./img/partners/sportmind.webp")%> 1x, 
                                         <%=require("./img/partners/sportmind@2x.webp")%> 2x" 
                                         alt="" loading="lazy" width="191" height="46" 
                                         src=<%=require("./img/partners/sportmind.webp")%> />
                        </div>
                        
                        <div class="swiper-slide">
                            <img srcset="<%=require("./img/partners/titus.webp")%> 1x, 
                                         <%=require("./img/partners/titus@2x.webp")%> 2x" 
                                         alt="" loading="lazy" width="130" height="46" 
                                         src=<%=require("./img/partners/titus.webp")%> />
                        </div>
                        
                        <div class="swiper-slide">
                            <img srcset="<%=require("./img/partners/disckson.webp")%> 1x, 
                                         <%=require("./img/partners/disckson@2x.webp")%> 2x" 
                                         alt="" loading="lazy" width="200" height="36" 
                                         src=<%=require("./img/partners/disckson.webp")%> />
                        </div>
                        
                        <div class="swiper-slide">
                            <img srcset="<%=require("./img/partners/sportmind.webp")%> 1x, 
                                         <%=require("./img/partners/sportmind@2x.webp")%> 2x" 
                                         alt="" loading="lazy" width="191" height="46" 
                                         src=<%=require("./img/partners/sportmind.webp")%> />
                        </div>
                        
                        <div class="swiper-slide">
                            <img srcset="<%=require("./img/partners/titus.webp")%> 1x, 
                                         <%=require("./img/partners/titus@2x.webp")%> 2x" 
                                         alt="" loading="lazy" width="130" height="46" 
                                         src=<%=require("./img/partners/titus.webp")%> />
                        </div>
                        
                        <div class="swiper-slide">
                            <img srcset="<%=require("./img/partners/disckson.webp")%> 1x, 
                                         <%=require("./img/partners/disckson@2x.webp")%> 2x" 
                                         alt="" loading="lazy" width="200" height="36" 
                                         src=<%=require("./img/partners/disckson.webp")%> />
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev icon-arrow--light"></div>
                <div class="swiper-button-next icon-arrow--light"></div>
            </div>
            <div class="o-smallbar o-smallbar--horizontal gs-scrollleft"></div>
        </div>
    </div>
