
    <div class="c-services">
        <div class="o-wrap">
            <article class="o-article fade">
                <h3>Nasze usługi skierowane są do Ciebie!</h3>
                <p><span class="color--green">Chcemy wprowadzić Cię w świat finansów abyś świadomie i&nbsp;mądrze zarządzał swoim majątkiem.</span> Nasze doświadczenie na wielu płaszczyznach sprawia, że potrafimy spojrzeć na przedsiębiorstwa i&nbsp;instytucje z&nbsp;pozycji nie tylko twardych danych, ale także ludzkich potrzeb.</p>
                
                <section class="o-more">
                    <a href="#" class="o-btn o-btn--arrow">Zapisz się na bezpłatną konsultację</a> 
                </section>
            </article>
            
            <div class="o-owners fade">
                <figure>
                    <img srcset="<%=require("./img/owners/rafal.webp")%> 1x, 
                                 <%=require("./img/owners/rafal@2x.webp")%> 2x" 
                                 alt="" loading="lazy" width="214" height="214" 
                                 src=<%=require("./img/owners/rafal.webp")%> />

                    <figcaption>
                        <p class="name">Rafał Jankowski</p>
                        <p class="position">CEO</p>
                        <p>rafal.j@cafe.finance</p>
                        <p>T: 695 99 66 13</p>
                        
                        <section class="o-more">
                            <a href="https://calendly.com/rafaljankowski/onlinemeeting?month=2024-04" class="o-btn o-btn--arrow" target="_blank">Porozmawiajmy</a> 
                        </section>
                    </figcaption>
                </figure>
                
                <figure>
                    <img srcset="<%=require("./img/owners/dorota.webp")%> 1x, 
                                 <%=require("./img/owners/dorota@2x.webp")%> 2x" 
                                 alt="" loading="lazy" width="214" height="214" 
                                 src=<%=require("./img/owners/dorota.webp")%> />

                    <figcaption>
                        <p class="name">Dorota Kręcisz</p>
                        <p class="position">Obsługa księgowa</p>
                        <p>dorota.k@cafe.finance</p>
                        <p>T: 695 752 628</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
